@model IEnumerable<SistemaTransporteWeb.Models.Auto>

<h2>Index</h2>
<p>
    @Html.ActionLink("New Auto", "Create", "Auto")
</p>
<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.AutoId)</th>
        <th>@Html.DisplayNameFor(model => model.Modelo)</th>
        <th>@Html.DisplayNameFor(model => model.Marca)</th>
        <th>@Html.DisplayNameFor(model => model.Anio)</th>
        <th>@Html.DisplayNameFor(model => model.Color)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AutoId)</td>
            <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
            <td>@Html.DisplayFor(modelItem => item.Marca)</td>
            <td>@Html.DisplayFor(modelItem => item.Anio)</td>
            <td>@Html.DisplayFor(modelItem => item.Color)</td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.AutoId }) </td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.AutoId })</td>
        </tr>
    }
</table>


@section nav{
    <ul>
        <li>@Html.ActionLink("Go to Auto", "Index", "Auto")</li>
        <li>@Html.ActionLink("Go to Home", "Index", "Home")</li>
    </ul>
}