@model IEnumerable<SistemaWebEmpleado.Models.Empleado>

@{
    ViewBag.Title = "Empleado";
}

@section sidebar {
    Administración de empleados.
}

    <h1 class="fw-bold">Listado de empleados</h1>
    <br />
    <p>@Html.ActionLink("Nuevo empleado", "Create", "Empleado")</p>
    <br />
    <table>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.Nombre)</th>
            <th>@Html.DisplayNameFor(m => m.Apellido)</th>
            <th>@Html.DisplayNameFor(m => m.DNI)</th>
            <th>@Html.DisplayNameFor(m => m.Legajo)</th>
            <th>@Html.DisplayNameFor(m => m.Titulo)</th>
        </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.Id)</td>
            <td>@Html.DisplayFor(m => item.Nombre)</td>
            <td>@Html.DisplayFor(m => item.Apellido)</td>
            <td>@Html.DisplayFor(m => item.DNI)</td>
            <td>@Html.DisplayFor(m => item.Legajo)</td>
            <td>@Html.ActionLink(item.Titulo, "ListarTitulo", new { titulo = item.Titulo })</td>

            <td>@Html.ActionLink("Detalle", "Detail", new { id = item.Id })</td>
            <td>@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</td>
        </tr>
    }

</table>